<html>
  <head>
    <title>Start a new To-Do list</title>
    <form method="POST" action="/lists/new">
      <input id='id_new_item' name='item_text' placeholder="Enter a to-do item" />
      {% csrf_token %}
    </form>
  </head>
</html>
